openapi: 3.0.3
info:
  title: Opera Ads Open Inventory Marketing API
  version: v1
  description: Open API for the Opera Ads advertising platform. Covers the advertiser Report API (daily campaign performance metrics), the publisher Inventory Management API (apps and placements), and the server-to-server Marketing (conversion events) API. Generated by API Evangelist from the public Opera Ads documentation at https://doc.adx.opera.com/ — endpoints, fields, and error codes are transcribed from the docs; contact Opera Ads to obtain an API token.
  contact:
    name: Opera Ads
    url: https://doc.adx.opera.com/
  x-apievangelist-method: generated
  x-apievangelist-source: https://doc.adx.opera.com/
servers:
- url: https://ofa.adx.opera.com/oapi/v1
  description: Advertiser Report API host
tags:
- name: Marketing
  description: Server-to-server conversion event reporting.
paths:
  /marketing/pb:
    post:
      tags:
      - Marketing
      operationId: reportConversionEvent
      summary: Report conversion event
      description: Server-to-server postback used by advertisers to report conversion events (install, register, login, purchase, place_bet, or custom) to Opera Ads. Identification is via the cvid (conversion ID) and click_id rather than a bearer token.
      servers:
      - url: https://cb.adx.opera.com
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConversionEvent'
      responses:
        '200':
          description: Event accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketingResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
components:
  responses:
    BadRequest:
      description: Invalid parameters (envelope code 1)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    MarketingResponse:
      type: object
      properties:
        status:
          type: integer
          description: 0 for success.
        message:
          type: string
    ConversionEvent:
      type: object
      required:
      - cvid
      - click_id
      - event_name
      properties:
        cvid:
          type: string
          description: Conversion ID assigned by Opera.
        click_id:
          type: string
          description: Session-specific identifier generated by Opera Ads (max 512 chars).
          maxLength: 512
        event_name:
          type: string
          description: 'Event classification: install, register, login, purchase, place_bet, or a custom name.'
        partner:
          type: string
        event_value:
          type: string
    Error:
      type: object
      properties:
        code:
          type: integer
          description: Business error code (0 success, 1 invalid params, 2 auth, 3 rate limit, 4 server).
        message:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'API token issued by Opera Ads, passed as `Authorization: Bearer <token>`. Contact Opera Ads to obtain credentials.'
